body{
	margin-left: 20px;
	margin-right: 20px;
}

a:focus {
	outline: none;
}
#panel {
	height: 100%;
	display: none;
	margin-bottom: 5px;
	}

.btn-slide{
	background: url(../img/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 30px;
	height: 20px;
	padding: 10px 10px 10px 0;
	margin: 0 auto;
	margin-right: -7px;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	z-index: 999;
}
.active {
	background-position: right 12px;
}
.mr10{
	margin-right:10px;
	margin-top:7px;
}
 .datepicker {
  z-index: 1051;
  /*.dow {
   shows date at top fixed navbar
  }*/
}
