{% macro timebox() -%}
<br>
<form class="form-inline">
  <div class="input-append">
    <input id="appendedInput" type="text" placeholder="Time">
    <span class="add-on"><strong>Hours</strong></span>
  </div>
  <select data-placeholder="Client or Project">
    <option>Internal </option>
    <option>Internal</option>
    <option>My Openlabs</option>
    <option>BFA </option>
    <option>Advocate Tax</option>
  </select>
  <input type="text" placeholder="Tags or description" data-provide="typeahead" autocomplete="off" data-source="["Design","Coding","User", "Test Case", "Fork"]">
  <span class="mr10"></span>
  <input type="text" placeholder="Billable/Non-Billable"> 
  <a href="" class="btn clearfix"><strong>Log IT</strong></a>
</form>
{%- endmacro %}